/* Colors */
$paragraph-color: #000000;
$brand-main-color: #ff0000;
$brand-gray-color: #333;
$brand-button-color: #979797;
$color-g-color: #E3E3E3;
$color-light-color: #F5F5F2;
$brand-activeLinkLg-color: #F58220;
$brand-activeLinkSm-color: #FFA200;
$brand-activeCheckbox-color: #04AE00;
$brand-positNotA: #74B67A;
$brand-ver2-green-c: #96CC9B;
$brand-negativePosA: #DE5252;
$brand-negativePos2: #EC7171;
$brand-link-color: #56819F;
$brand-color-tabs: #80bfca;
$brand-color-white: #FFF;
$brand-bg-color: #dfe6e9;
$back-color: #191919;
$chart-circle-g: #59b66d;
$chart-circle-o: #ff9a38;

/*Background color fro all*/
$brand-bk-g-c: #f5f5f2;

/* Font sizes */
$paragraph-font-size: 16px;

/* Fonts */
$brand-font: "Open Sans", Helvetica, Arial;
$paragraph-font: "Open Sans", Helvetica, Arial;
$fa-font-path:"../node_modules/font-awesome/fonts";